[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"

[packages]
django = "*"
pillow = "*"
django-seed = "*"
requests = "*"
psycopg2-binary = "*"
graphene-django = "*"
graphql-core = "==2.3.1"
pyjwt = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
